button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background: linear-gradient(to right, $cyan, $blue);
    width: 240px;
    cursor: pointer;  
    transition: all 250ms ease-in-out; 
    font-weight: 700;

}

button:hover{
    filter: brightness(1.2);
}

@media(min-width: 800px){
    
    .early-access button{
        width: 170px;
    }
}
