button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background: $blue;
    width: 210px;
    color: $white;
    cursor: pointer;
    font-weight: 700;
    transition: background 250ms ease-in-out; 
}

.early-access button{
    width: 250px;
}

button:hover{
    background: $cyan;
}

@media(min-width: 800px){
    
    .early-access button{
        width: 170px;
    }
}
