@media (min-width: 600px ){
    
    .intro h1{
        font-size: 28px;
    }

    .features .features-content{
        grid-template-columns: repeat(2,1fr);
        max-width: 1100px;
    }

    .stay-productive .stay-productive-content{
        
        justify-content: center;
        align-items: center;
        text-align: center;

        p{
            max-width: 514px;
        }

        a{
            margin-left: auto;
            margin-right: auto;
        }

    }
}

@media(min-width: 800px){

    .reviews ul{
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        max-width: 1100px;
    }

     //footer
    footer{  

        .early-access-content{
            top: -40%;
        }

        .footer-grid{
            grid-template-columns: repeat(4,1fr);
            justify-content: center;
        }
    
        .footer-box-2, .footer-box-3, .footer-box-4{
            justify-self: center;
        }

        .footer-box-5{
            justify-self: center;
            grid-column: 1/5;
            grid-row: 2;
        }
    }
}

@media(min-width:900px) {

    .stay-productive .stay-productive-content{
        flex-direction: row;
        text-align: left;
        justify-content: center;

        img{
            flex-basis: 1;
        }

        .hero-text{
            flex-basis: 1;
            padding-left: 20px;
        }
        a{
            margin-left: 0;
            margin-right: 0;
        }
        p{
            max-width: 514px;
            line-height: 1.8;
        }   
    }
}

@media(min-width: 984px){

    footer{
    padding-top: 140px; // space for early access

    .footer-grid{
        grid-template-columns: repeat(5,1fr);
    }

    .footer-box-5{
        grid-column: 5;
        grid-row: 1;
    }
    }

}
